@import './reset.scss';
@import './common.scss';

page {
  position: relative;
  width: 100%;
  height: 100%;
}

.page-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 底部安全区域适配 */
.safe-area-inset-bottom {
  /* constant 兼容 IOS < 11.2 | env 兼容 IOS > 11.2 | 两者不能调换位置 */
  padding-bottom: constant(safe-area-inset-bottom) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
}
