view[class*='-theme'] .wd-card {
  margin: 0;
  .wd-card__title-content {
    .wd-card__title {
      font-weight: bold;
      letter-spacing: 2rpx;
    }
  }
  .wd-card__content {
    padding-bottom: 30rpx;
  }
}
